<div>
  <p>{{msj}}</p>
  <button (click)="click()">Change</button>

  <div class="has-form">
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <label for="name">Nombre</label>
      <input type="text" formControlName="nombre" id="name">
      <br>
      <label for="lastname">Apellido</label>
      <input type="text" formControlName="apellido" id="lastname">
      <br>
      <label for="cargo">Cargo</label>
      <input type="text" formControlName="cargo" id="cargo">
      <br>
      <label for="username">Usuario de Red</label>
      <input type="text" formControlName="usuarioRed" id="username">
      <br>
      <label for="estado">Estado</label>
      <input type="text" formControlName="estado" id="estado">
      <br>
      <input type="submit" value="Guardar" [disabled]="!Form.valid">
    </form>
  </div>
</div>
