.parent{
  display: flex;
}
.container{
  flex: 1;
  height: 100%;
  div{
    margin: 1px
  }
}
.has-flex{
  display: flex;
}

.ex1{
  .header{
    width: 100%;
    height: 10%;
    div{
      background: red;
      height: initial;
    }
    .h-left{
      width: 70%;
    }
    .h-right{
      width: 30%;
    }
  }

  .body{
    width: 100%;
    height: 80%;
    display: flex;
  }

  .b-left{
    background: orange;
    width: 50%;
  }

  .b-right{
    width: 50%;
    height: 100%;
    div{
      height: 50%;
    }
    .top, .bottom{
      background: purple;
      width: 100%;
    }
  }

  .footer{
    width: 100%;
    height: 10%;
    display: flex;
    div{
      background: darkslategrey;
      height: 100%;
    }
  }

  .f-left, .f-right{
    width: 20%;
  }

  .f-center{
    width: 60%;
  }
}

.ex2{
  background: burlywood;
  .is-grey{
    background: gray;
  }
  .is-red{
    background: indianred;
  }
  .nav{
    width: 20%;
  }
  .body{
    width: 80%;
  }
  .grid{
    width: 100%;
    height: 80%;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-child{
    width: 100%;
    height: 30%;
    div{
      margin: 4px;
      width: 100%;
    }
  }
  .footer{
    width: 100%;
    height: 20%;
    div{
      width: 100%;
      height: 30%;
    }
  }
}

.ex3{

}

.ex4{
  .body{
    height: 95%;
  }
  .center{
    background: white;
    width: 70%;
    height: 100%;
  }
  .left-bar {
    width: 10%;
  }
  .right-bar{
    width: 20%;
  }
  .left-bar, .right-bar{
    height: 100%;
  }
  .left-bar{
    background: indianred;
  }
  .right-bar{
    background: cadetblue;
  }
  .footer{
    height: 5%;
    background: darkolivegreen;
  }

}

