<p *ngIf="loading">cargando...</p>
<div *ngIf="!loading">
  <table>
    <thead>
      <th *ngFor="let i of head">{{i}}</th>
      <th></th>
    </thead>
    <tbody>
    <tr *ngFor="let item of list">
      <td>{{item.identificacion}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.cargo}}</td>
      <td>{{item.usuarioRed}}</td>
      <td>{{item.estado}}</td>
      <td>{{item.fechaRegistro | date: 'dd-MM-yy'}}</td>
      <td><button (click)="edit(item)">Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
